server {
  listen 443 ssl http2;
  server_name api.example.com;

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_pass http://crowdrelay-api:8080;
  }
}
